In [ ]:
# Data Science Tools And Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
**Objectives:**
    - "Popular Languages Data Scientists Use"
    - "Commonly Used Libraries for Data Scientists"
    - "Open Source Data Science Tools"

In [ ]:
Some of the popular languages that Data Scientists use are:
    1. "Python"
    2. "R"
    3. "SQL"
    4. "Java"

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
    1. "Pandas"
    2. "Seaborn"
    3. "Keras"

In [ ]:
Data Science Tools
(----------------)
Kubernetes
Openshift
Git
Apache Atlas

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

(200/60)

3.3333333333333335

In [4]:
## Author
Steven Capobianco